# Supabase project configuration

project_id = "vtrkcgaajgtlkjqcnwxk"

[api]
enabled = true
port = 54321
schemas = ["public"]
extra_search_path = ["public"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323

[functions]
enabled = true
port = 54324

[auth]
enabled = true
port = 54325
